{% extends 'base.html.twig' %}

{% block title %}Crédit images{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row text-center mx-auto mt-5">

            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card bg-dark my-3 mx-auto p-0" style="width: 18rem;">
                    <img src="{{ asset('images/bibimbap.png') }}" class="card-img-top" alt="logo_ramen">
                    <div class="card-body">
                        <a class="text-light" href="https://www.flaticon.com/fr/icone-premium/bibimbap_2276931?term=bibimbap&page=1&position=1&page=1&position=1&related_id=2276931&origin=search" target="_blank" title="nourriture icônes">Nourriture icônes créées par justicon - Flaticon</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card bg-dark my-3 mx-auto p-0" style="width: 18rem;">
                    <img src="{{ asset('images/logo_potions.png') }}" class="card-img-top" alt="logo_potions">
                    <div class="card-body">
                        <a class="text-light" href="https://www.flaticon.com/free-icon/potion_1205587?term=potion%20flask&page=1&position=2&page=1&position=2&related_id=1205587&origin=search" target="_blank"  title="potion icons">Potion icons created by Freepik - Flaticon</a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4 p-0 col-xl-3">
                <div class="card bg-dark my-3 mx-auto p-0" style="width: 18rem;">
                    <img src="{{ asset('images/logo_chaudron.png') }}" class="card-img-top" alt="logo_chaudron">
                    <div class="card-body">
                        <a class="text-light" href="https://www.flaticon.com/fr/icone-gratuite/pot_5438603?related_id=5438603" target="_blank"  title="potion icônes">Chaudron icônes créées par Vitaly Gorbachev - Flaticon</a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4 p-0 col-xl-3">
                <div class="card bg-dark my-3 mx-auto p-0" style="width: 18rem;">
                    <img src="{{ asset('images/logo_donut.png') }}" class="card-img-top" alt="logo_donut">
                    <div class="card-body">
                        <a class="text-light" href="https://www.flaticon.com/fr/icone-gratuite/donut_214681?term=donut&page=1&position=3&page=1&position=3&related_id=214681&origin=search" target="_blank"  title="donut icônes">Donut icônes créées par Pixel Buddha - Flaticon</a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4 p-0 col-xl-3">
                <div class="card bg-dark text-light my-3 mx-auto" style="width: 18rem;">
                    <img src="{{ asset('images/pexels-photo-211122.jpeg') }}" class="card-img-top" alt="Coming soon">
                    <div class="card-body">
                        <a class="text-light" href="https://www.pexels.com/fr-fr/photo/sous-signalisation-de-construction-sur-clavier-d-ordinateur-portable-211122/" target="_blank"  title="donut icônes">Under Construction par Fernando Arcos - Pexels</a>
                    </div>
                </div>
            </div>


        </div>

    </div>


{% endblock %}



