{% extends 'base.html.twig' %}
{% block title %}Modifier mot de passe{% endblock %}


{% block body %}

    {# Menu #}
    {% include '_partials/_main_profil_slidebar.html.twig' %}

    <div class="container-fluid">

        <div class="row">

            <div id="main">
                <div class="row">
                    <h1 class="col-12 text-center my-5 text-danger"> Modifier votre mot de passe</h1>
                </div>

                <div class="row">
                    <div class="col-10 offset-1 py-3 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">

                        {# TODO: voir pour péter les 2 champ #}
                        {{ form_start( editPasswordForm ) }}
                        {{ form_errors( editPasswordForm ) }}
                        <div id="passField">
                            {{ form_row( editPasswordForm.plainPassword ) }}
                            <p id="bubble">Votre mot de passe doit contenir obligatoirement une minuscule, une majuscule, un chiffre et un caractère spécial et un minimum de 8 caractères</p>
                        </div>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-10 offset-1 py-3 col-xl-8 offset-xl-2">

                        <div>{{ form_row( editPasswordForm.save ) }}</div>
                        {{ form_end( editPasswordForm ) }}

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}


